.maps {
    width: 100%;
    background: red;
    height: 300px;
}


.view {
    margin-bottom: 4em;
}


.container-card {
    padding-top: 1em;
    border-radius: 24px 24px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60vh;
    background-color: var(--color-bg) !important;
    padding: 0;
    box-shadow: 0 -25px 20px -20px rgba(0, 0, 0, 0.2);
}

.container-card::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 5px;
    background-color: #ccc;
    border-radius: 10px;
    cursor: grab;
}


.inside-scroll {
    overflow-y: scroll;
    height: calc(100% - 3em);
    /* ocupa o restante do container */
    margin-top: 2em !important;
    padding-bottom: 2em !important;
    padding: 12px;
}