.avatar_user img{
    background: #050505;
    background: linear-gradient(90deg,rgba(5, 5, 5, 1) 0%, rgba(67, 67, 67, 1) 74%);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 2px solid #2e725f
}