.info{
    position: relative;
}

.avatar_user img{
    margin-top: 40px;
    background: #050505;
    background: linear-gradient(90deg,rgba(5, 5, 5, 1) 0%, rgba(67, 67, 67, 1) 74%);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: relative;
    z-index: -999;
}

.edit{
    margin-top: -20px;
    background: #07AAE8;
    background: linear-gradient(90deg,rgba(7, 170, 232, 1) 0%, rgba(46, 83, 164, 1) 74%);
    height: 32px;
    width: 32px;
    margin: auto;
    border-radius: 50%;
    border:2px solid white;
    margin-top: -15px;
    font-size: 15px;
    z-index: 99999;
}
.edit a{
    padding: 0!important;
    margin: 0!important;
    color: white;
    font-size: 12px;
}