.navbar{
    position:fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    margin:0 10px ;
    border-radius: 10px ;
    background: #07AAE8;
    background: linear-gradient(90deg,rgba(7, 170, 232, 1) 0%, rgba(46, 83, 164, 1) 74%);
}

.navbar .item{
    color: #ffffff;
}
.navbar .item a{
    color: #ffffff;
    font-size:25px;
}


