.navbar{
    position: fixed;
    bottom: 0px;
    color: white;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    align-content: center;
    text-align: center;
    width: 90% !important;
    align-content: center;
    margin: 5%;
    overflow: auto;
}

.navbar .item{
    font-size: 25px;
}