.sidebar {
    position: fixed;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    background-color: #f8f8fa;
    z-index: 100;
    border-radius: 25px;
}

.avatar img {
    background: #050505;
    background: linear-gradient(90deg, rgba(5, 5, 5, 1) 0%, rgba(67, 67, 67, 1) 74%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.dropdown-toggle::after {
    display: none;
}