.sidebar{
    position: fixed;
    padding: 10px;
    top: 0;
    width: 100%;

}

.avatar img{
    background: #050505;
    background: linear-gradient(90deg,rgba(5, 5, 5, 1) 0%, rgba(67, 67, 67, 1) 74%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.dropdown-toggle::after{
    display: none;
}