
body {
  margin: 0;
}

.color-primary{
  color: #2e715b !important;
}

/*.form-control{*/
/*  border: 0px !important;*/
/*  background: #dfdede !important;*/
/*  font-size: 12px !important;*/
/*  line-height: 12px !important;*/
/*  height: 35px;*/
/*}*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  font-size:12px !important;
}

.container{
  margin-top: 50px;
}
.card{
  border: 0px!important;
}

.img-fluid{
  width: 100%;
}
p, h1, h2, h3{
  padding: 0 !important;
  margin: 0 !important;
  font-family: "Roboto", sans-serif;
}

h1{
  font-size: 20px!important;
}

h2{
  font-size: 15px!important;
}