
body {
  margin: 0;
}

.color-primary{
  color: #2e52a3 !important;
}

.btn-primary{
  background: #2e52a3 !important;
}

/*.form-control{*/
/*  border: 0px !important;*/
/*  background: #dfdede !important;*/
/*  font-size: 12px !important;*/
/*  line-height: 12px !important;*/
/*  height: 35px;*/
/*}*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  font-size:12px !important;
}

.container{
  margin-top: 50px;
}
.card{
  border: 0px!important;
}

.img-fluid{
  width: 100%;
}
p, h1, h2, h3{
  padding: 0 !important;
  margin: 0 !important;
  font-family: "Roboto", sans-serif;
}

h1{
  font-size: 20px!important;
}

h2{
  font-size: 15px!important;
}

.input-group{
  background: white !important;
  border-radius: 10px !important;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
input.form-control{
  background: white !important;
  font-size: 15px !important;
  border: none;
  border-radius: 10px !important;
}

input.form-control:focus{
  background: white !important;
  border-radius: 10px !important;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

input.form-control{
  background: white !important;
}

.input-group-text{
  border: none !important;
  padding: .80rem .75rem !important;
  font-size: 14px !important;
  background: white !important;
  /*color:#2b58a9 !important;*/
}

a.btn-primary{
  background: #07AAE8;
  background: linear-gradient(90deg,rgba(7, 170, 232, 1) 0%, rgba(46, 83, 164, 1) 74%);
  border-radius: 10px !important;
  border:none;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 13px !important;
  padding:8px;
}