@charset "UTF-8";

.orders .iten {
    margin-top: 10px;
    padding: 7px;
    border-left: 4px solid #252525;
    background: aliceblue;
}


.search-button {
    background-color: var(--color-accent);
    color: white;
}


.search {
    border: 1px solid #e0e0e0;
    border-radius: 24px;
    padding: 10px 16px;
}